<a href="https://colab.research.google.com/github/Rasna-k/python-practice/blob/main/Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BASIC

In [ ]:
age=10
Age=15
age

10

In [ ]:
age=10
Age=15
age
Age      # overwrites the  output

15

In [ ]:
n=int(input(4))           #value error

44.2

ValueError: ignored

In [ ]:
x,y=int(input('Enter an integer : ')),float(input('Enter a floating number : '))    #multiple inputs

Enter an integer : 4
Enter a floating number : 5.2

In [ ]:
x,y=eval(input('Enter 2 numbers : '))       #evaluate function automatically evaluates datatype
print(type(x),type(y))

Enter 2 numbers : 4.2,5
<class 'float'> <class 'int'>

In [ ]:
a=2
b=3
c=5
print(a,b,c)

2 3 5

In [ ]:
a=2
b=3
c=5
del b
print(a,b,c)      #Name error for b

NameError: ignored

In [ ]:
ramage=10;shyamage=30
print(ramage,shyamage)

10 30

In [ ]:
colabis = "Colab notebooks execute code on Google's \
cloud servers, meaning you can leverage the power of Google \
hardware, including GPUs and TPUs, regardless of the power of your "   #We can write code in multiple lines using \ operator
print(colabis)

Colab notebooks execute code on Google's cloud servers, meaning you can leverage the power of Google hardware, including GPUs and TPUs, regardless of the power of your

In [ ]:
a=10
print(type(a))
a='heloo'
print(type(a))

<class 'int'>
<class 'str'>

In [ ]:
# Arithmetic operators + , - , / , // , *
print (10/3 , 10//3 , 10%3)
print ( 2**5 , 2**16 )

3.3333333333333335 3 1
32 65536

In [ ]:
#logical operators - return true or false
a=10; b=20;
print(a<b)
a != 10

True

False