<a href="https://colab.research.google.com/github/Rasna-k/python-practice/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LISTS (Mutable)

In [ ]:
num=[1,2,3,4,5]
num[1],num[4]=eval(input('Enter two numbers : '))
print(num)

Enter two numbers : 4,6
[1, 4, 3, 4, 6]

**Iteration**

In [ ]:
states=["J&K",'PUNJAB','HARYANA','ASSAM']
for s in states:
  print(s)

J&K
PUNJAB
HARYANA
ASSAM

In [ ]:
states=["J&K",'PUNJAB','HARYANA','ASSAM']
for s in range (len(states)):
  print(states[s])

J&K
PUNJAB
HARYANA
ASSAM

**Membership**

In [ ]:
l=[3,7,9,10,15]
print(3 in l)
print(5 in l)
print(8 not in l)

True
False
True

**indexing,slicing**

In [ ]:
l1=['phy','chem',1997,2000]
l2=[1,2,3,4,5,6,7]
print('l1 = {0} \nl2 = {1}'.format(l1,l2))
print('l1[3] =',str(l1[3]))
print('l2[1:3] =',str(l2[1:3]))

l1 = ['phy', 'chem', 1997, 2000]
l2 = [1, 2, 3, 4, 5, 6, 7]
l1[3] = 2000
l2[1:3] = [2, 3]

In [ ]:
print(l2[::-1])
print(l2[::-2])
print(l2[::-3])

[7, 6, 5, 4, 3, 2, 1]
[7, 5, 3, 1]
[7, 4, 1]

**2D lists**

In [ ]:
twodlist=[[1,2,3],[4,5,6]]
print(twodlist[1][2])
twodlist[1]

6

[4, 5, 6]

### Changing value

In [ ]:
l1[2]=2001      #list is mutable , can be changed
print (l1)

['phy', 'chem', 2001, 2000]

### Insertion and Deletion

In [ ]:
#Insertion

l1[1:1]='math'                         #Slicing
print(l1)

['phy', 'm', 'a', 't', 'h', 'chem', 2001, 2000]

In [ ]:
l1=['phy','chem',1997,2000]
l1[1:1]=['math']
print(l1)

['phy', 'math', 'chem', 1997, 2000]

In [ ]:
l1=['phy','chem',1997,2000]
l1.append('a')                         #append
print(l1)

['phy', 'chem', 1997, 2000, 'a']

In [ ]:
l1=['phy','chem',1997,2000]
l1.append([10,11,12])
print (l1)

['phy', 'chem', 1997, 2000, [10, 11, 12]]

In [ ]:
l1=['phy','chem',1997,2000]
l1.insert(2,'m')                      #insert
print(l1)

['phy', 'chem', 'm', 1997, 2000]

In [ ]:
l1=['phy','chem',1997,2000]
l1.extend([9,8,7])                    #extend
print(l1)

['phy', 'chem', 1997, 2000, 9, 8, 7]

In [ ]:
#Deletion

del (l1[2])                           #del
print(l1)
#del[2:3] = ['phy','chem']

['phy', 'chem', 2000, 9, 8, 7]

In [ ]:
l1[2:3]=[]                            #slicing
print(l1)

['phy', 'chem', 9, 8, 7]

In [ ]:
l=['a','b','c','b']
l.remove('b')                         #remove
print(l)

['a', 'c', 'b']

In [ ]:
l.pop()
print(l)                              #pop

['a', 'c']

In [ ]:
l.pop(0)
print(l)

['c']

### Repetition

In [ ]:
l=[1,2,3,4]
a=l*4
b=[l]*4
print(a)
print(b)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

In [ ]:
l[1]=0
print(a)
print(b)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
[[1, 0, 3, 4], [1, 0, 3, 4], [1, 0, 3, 4], [1, 0, 3, 4]]

### cmp() : Compare function

*  Takes two arguments
*  If first list is greater than second list , then output = 1
*  If first list is smaller than second list , then output = -1
*  If first list is equal to second list , then output = 0

```
l1=[1,2,4,10]
l2=[1,2,4,'a']
l3=['a','b','c','d']
cmp(l1,l2)
cmp(l2,l1)
cmp(l2,l3)
```
```
 -1
  1
 -1
```

### zip() method

In [ ]:
name=['Manjeet','Nikhil','Shambavi','Astha']
roll_no=[4,1,3,2]
marks=[40,50,60,70]
mapped=set(zip(name,roll_no,marks))
print(mapped)

{('Shambavi', 3, 60), ('Astha', 2, 70), ('Nikhil', 1, 50), ('Manjeet', 4, 40)}

In [ ]:
#unzipping values

n,r,m=zip(*mapped)
print(n,"\n",r,"\n",m)

('Shambavi', 'Astha', 'Nikhil', 'Manjeet')
 (3, 2, 1, 4)
 (60, 70, 50, 40)

### list() method

In [ ]:
list("34AMrit")

['3', '4', 'A', 'M', 'r', 'i', 't']

In [ ]:
list(1234)

TypeError: ignored

In [ ]:
list('1234')

['1', '2', '3', '4']

In [ ]:
list((1,2,3))

[1, 2, 3]

### Other methods

In [ ]:
l=[1,11,3,4,5,3,4,4]
max(l)

11

In [ ]:
min(l)

1

In [ ]:
l.index(4)

3

In [ ]:
l.count(4)

3

In [ ]:
l.reverse()           #inplace
print(l)

[4, 4, 3, 5, 4, 3, 11, 1]

In [ ]:
l.sort()              #inplace
print(l)

[1, 3, 3, 4, 4, 4, 5, 11]

### List Comprehension

In [ ]:
lst=[x**2 for x in range(1,11)]
print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
lst=[x**2 for x in range(1,11) if x%2==1]
print(lst)

[1, 9, 25, 49, 81]

In [ ]:
lst=[x**2 for x in range(1,11) if x%2==0]
print(lst)

[4, 16, 36, 64, 100]

In [ ]:
vec1=[2,4,6]
vec2=[4,3,-9]
crsprd=[x*y for x in vec1 and for y in vec2]    #cross product
print(crsprd)

SyntaxError: ignored

In [ ]:
vec1=[2,4,6]
vec2=[4,3,-9]
crsprd=[x*y for x in vec1 for y in vec2]    #cross product
print(crsprd)

[8, 6, -18, 16, 12, -36, 24, 18, -54]

In [ ]:
s=[x+y for x in vec1 for y in vec2]
print(s)

[6, 5, -7, 8, 7, -5, 10, 9, -3]

In [ ]:
prd=[vec1[i]*vec2[i] for i in range(len(vec1))]
print(prd)

[8, 12, -54]

In [ ]:
r=[i for i in range(100)if i>10 and i<50]
print(r)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

### List Equivalence/Reference

In [ ]:
a=[10,20,30,40]
b=a
c=[10,20,30,40]                                 #creating a list in this syntax , creates a new list object in memory
print('a : {0} , id(a) : {1}'.format(a,id(a)))
print('b : {0} , id(b) : {1}'.format(b,id(b)))
print('c : {0} , id(c) : {1}'.format(c,id(c)))

a : [10, 20, 30, 40] , id(a) : 140060709156672
b : [10, 20, 30, 40] , id(b) : 140060709156672
c : [10, 20, 30, 40] , id(c) : 140060709152256

In [ ]:
b[2]=35

print('a : {0} , id(a) : {1}'.format(a,id(a)))
print('b : {0} , id(b) : {1}'.format(b,id(b)))
print('c : {0} , id(c) : {1}'.format(c,id(c)))

a : [10, 20, 35, 40] , id(a) : 140060709156672
b : [10, 20, 35, 40] , id(b) : 140060709156672
c : [10, 20, 30, 40] , id(c) : 140060709152256

In [ ]:
a==b

True

In [ ]:
b==c

True

In [ ]:
a is b

True

In [ ]:
b is c

False