<a href="https://colab.research.google.com/github/Rasna-k/python-practice/blob/main/Patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PATTERN

### 1.Write the python program to print the pattern
````
b b  1
b  2 2
3  3  3

````

In [ ]:
for i in range (1,4) :
  for s in range (i,3) :
    print(" ",end="")
  for j in range(1,i+1):
    print(i,end="")
  print()

  1
 22
333

### 2.write python program to print the pyramid as shown above from fibonacci series  ( 0,1,1, 2,3, 5, 8)

```
0
1 1
1 1 1
2 2 2 2
3 3 3 3 3
5 5 5 5 5 5
```

In [ ]:
a=0
b=1
for i in range (1,7) :
  for j in range(i):
    print(a,end="")
  c=a+b
  a=b
  b=c
  print()

0
11
111
2222
33333
555555

### 3.WAP .....
```
      1
    1 2 1
  1 2 3 2 1
```

In [ ]:
n=int(input('Enter a number '))

Enter a number 5

In [ ]:

for i in range (1,n+1):
  for s in range (i,n):
    print(" ",end=" ")
  for j in range (1,i+1):
    print(j,end=" ")
  for k in range (i-1,0,-1):
    print(k,end=" ")
  print()

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

### 4.WAP .....
```
      1
    1 2 1
  1 2 3 2 1
    1 2 1
      1
```

In [ ]:
n=int(input('Enter a number '))

Enter a number 7

In [ ]:
for i in range (1,n+1):
  for s in range (i,n):
    print(" ",end=" ")
  for j in range (1,i+1):
    print(j,end=" ")
  for k in range (i-1,0,-1):
    print(k,end=" ")
  print()
for i in range (n-1,0,-1):
  for s in range (i,n):
    print(" ",end=" ")
  for j in range (1,i+1):
    print(j,end=" ")
  for k in range (i-1,0,-1):
    print(k,end=" ")
  print()

            1
          1 2 1
        1 2 3 2 1
      1 2 3 4 3 2 1
    1 2 3 4 5 4 3 2 1
  1 2 3 4 5 6 5 4 3 2 1
1 2 3 4 5 6 7 6 5 4 3 2 1
  1 2 3 4 5 6 5 4 3 2 1
    1 2 3 4 5 4 3 2 1
      1 2 3 4 3 2 1
        1 2 3 2 1
          1 2 1
            1

### 5.WAP
```
1
1 1
1 1 1
1 1 1 1
```

In [ ]:
for i in range (1,5):
  for j in range (i):
    print("1",end=" ")
  print()

### 6.WAP
```
1
1 2
1 2 3
1 2 3 4

```

In [ ]:
for i in range (1,5):
  for j in range (1,i+1):
    print(j,end=" ")
  print()

### 7.WAP


```
     1
   1 2 3
 1 2 3 4 5
1 2 3 4 5 6 7


```

In [ ]:
for i in range(1,9,2):
  for s in range (i,8,2):
    print(" ",end=" ")
  for j in range(1,i+1):
    print(j,end=" ")
  print()

### 8.WAP

```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

```

In [ ]:
for i in range(5):
  for j in range(i+1):
    print('*',end=" ")
  print()
for i in range(4):
  for j in range(i,4):
    print('*',end=' ')
  print()

### 9.WAP

```
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
```

In [ ]:
r=13
for i in range(1,6):
  for s in range(i,5):
    print(' ',end=" ")
  for j in range(i,15-r):
    print('*',end=" ")
  r-=3
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
# OR
for i in range(1,6):
  for s in range(i,5):
    print(' ',end=' ')
  for j in range(1,2*i):
    print('*',end=' ')
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
# OR
for i in range (1,10,2):
  for s in range(i,8,2):
    print(" ",end=' ')
  for j in range(1,i+1):
    print('*',end=' ')
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

### 10.WAP

```
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
```

In [ ]:
for i in range (1,10):
  for j in range (1,i+1):
    print(i,end=' ')
  print()