<a href="https://colab.research.google.com/github/Rasna-k/python-practice/blob/main/Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# QUESTIONS

#### *1. program to check a given number is even or odd*

In [ ]:
a=int(input('Enter a number to check for even or odd '))

Enter a number to check for even or odd 15

In [ ]:
if a%2==0 :
  print(f'The given number {a} is even')
else :
  print(f'The given number {a} is odd')

The given number 15 is odd

#### 2. write a program to accept marks from user and print the division

In [ ]:
m1=int(input('Enter the marks of first subject '))
m2=int(input('Enter the marks of second subject '))
m3=int(input('Enter the marks of third subject '))

In [ ]:
tot=m1+m2+m3
perc=(tot/3.0)
print(f' Your percentage is {round(perc,2)}')

In [ ]:
if perc>=60 :
  print('FIRST DIVISION ')
elif perc<60 and perc>=48 :
  print('SECOND DIVISION')
elif perc<48 and perc>=36 :
  print ('PASS')
else :
  print ('FAIL')

#### 3. accept 10 numbers and find maximum

In [ ]:
print("Enter 10 numbers :\n")
n=int(input())
max=n
for i in range (9):
  n=int(input())
  if n>max:
    max=n
print('Maximum = '+str(max))

Enter 10 numbers :

45
85
14
0
26
-5
23
56
-25
78
Maximum = 85

### 4.write a program to return sum of digits of given number of three digits

In [ ]:
n=int(input('Enter a number whose sum of digits is to be found '))

In [ ]:
d1=n%10
x=n//10
d10=x%10
d100=x//10

In [ ]:
print(f'ones place = {d1}')
print(f'tens place ={d10}')
print(f'hundreds place ={d100}')

In [ ]:
sum=d1+d10+d100
print(f' The sum of digits is equal to {sum}')

### 5.write code to print digits of a given number

In [ ]:
a=int(input('Enter a number '))

In [ ]:
while a!=0 :
  d=a%10
  a=a//10
  print(d)

### 6.write a program to print sum of digits of a given number

In [ ]:
n=int(input('Enter a number '))
sum=0

In [ ]:
while n!=0 :
  d=n%10
  n=n//10
  sum+=d
  print(d)
print('Sum = '+ str(sum))

### 7.Write python code to find the greatest digit in the given number

In [ ]:
n=int(input('Enter a number '))
d=n%10
greatest=d

In [ ]:
while n!=0 :
  d=n%10
  n=n//10
  print(d)
  if d>greatest :
    greatest=d
print ('greatest = '+ str(greatest))

### 8.Find greatest digit and if occurs more than once show count

In [ ]:
n=int(input('Enter a number '))
greatest=n%10
c=0

In [ ]:
while n!=0 :
  d=n%10
  n=n//10
  print(d)
  if d==greatest :
    c+=1
  if d>greatest :
    greatest=d

print ('greatest = '+ str(greatest)+"(appears "+str(c)+" times )")

### 9.Accept 10 numbers from user and at the end print their sum , Average, max and min

In [ ]:
s=0

In [ ]:
max=int(input("Enter 10 numbers : "))
min=max
for i in range(9) :
  n=int(input())
  s+=n
  if n>max :
    max=n
  if n<min :
    min =n
avg=s/10
print ("Total sum = "+ str(s))
print("Average = "+str(avg))
print("Max = "+str(max) +"\nMin = "+str(min))

### 10.WAP to check whether a given number is prime or not

In [ ]:
n=int(input('Enter a number to check for prime : '))
c=0
print("Factors are : ")
for i in range (2,n):
  if (n%i==0):
    c+=1
    print(i)
if c>0 :
  print('The given number is COMPOSITE (not prime)')
else :
  print('NULL \nThe given number is PRIME')

### 11.Find those numbers which are divisible by 7 and multiple of 5 between 1500 and 2700 both included

In [ ]:
for n in range (1500,2701):
  if n%7==0 and n%5==0 :
    print (n)

### 12.Print fibonacci series between 0 to 50

In [ ]:
a,b=0,1
while a<=50:
  print(a)
  c=a+b
  a=b
  b=c

### 13.There are vehicle numbers from 0000 to 9999. WAP to print the numbers whose sum of digits is 9.

In [ ]:
for n in range (10000):
  s=0
  for d in str(n):
    s=s+int(d)
  if s==9 :
   print(format(n,'04'))

0009
0018
0027
0036
0045
0054
0063
0072
0081
0090
0108
0117
0126
0135
0144
0153
0162
0171
0180
0207
0216
0225
0234
0243
0252
0261
0270
0306
0315
0324
0333
0342
0351
0360
0405
0414
0423
0432
0441
0450
0504
0513
0522
0531
0540
0603
0612
0621
0630
0702
0711
0720
0801
0810
0900
1008
1017
1026
1035
1044
1053
1062
1071
1080
1107
1116
1125
1134
1143
1152
1161
1170
1206
1215
1224
1233
1242
1251
1260
1305
1314
1323
1332
1341
1350
1404
1413
1422
1431
1440
1503
1512
1521
1530
1602
1611
1620
1701
1710
1800
2007
2016
2025
2034
2043
2052
2061
2070
2106
2115
2124
2133
2142
2151
2160
2205
2214
2223
2232
2241
2250
2304
2313
2322
2331
2340
2403
2412
2421
2430
2502
2511
2520
2601
2610
2700
3006
3015
3024
3033
3042
3051
3060
3105
3114
3123
3132
3141
3150
3204
3213
3222
3231
3240
3303
3312
3321
3330
3402
3411
3420
3501
3510
3600
4005
4014
4023
4032
4041
4050
4104
4113
4122
4131
4140
4203
4212
4221
4230
4302
4311
4320
4401
4410
4500
5004
5013
5022
5031
5040
5103
5112
5121
5130
5202
5211
5220
5301
5310
5400
6003
6012
6021
6030
6102
6111
6120
6201
6210
6300
7002
7011
7020
7101
7110
7200
8001
8010
8100
9000

In [ ]:
# OR
for n in range (0,10000):
  s=0
  no=n
  while no!=0:
    d=no%10
    s=s+d
    no=no//10
  if s==9 :
   print(format(n,'04'))

0009
0018
0027
0036
0045
0054
0063
0072
0081
0090
0108
0117
0126
0135
0144
0153
0162
0171
0180
0207
0216
0225
0234
0243
0252
0261
0270
0306
0315
0324
0333
0342
0351
0360
0405
0414
0423
0432
0441
0450
0504
0513
0522
0531
0540
0603
0612
0621
0630
0702
0711
0720
0801
0810
0900
1008
1017
1026
1035
1044
1053
1062
1071
1080
1107
1116
1125
1134
1143
1152
1161
1170
1206
1215
1224
1233
1242
1251
1260
1305
1314
1323
1332
1341
1350
1404
1413
1422
1431
1440
1503
1512
1521
1530
1602
1611
1620
1701
1710
1800
2007
2016
2025
2034
2043
2052
2061
2070
2106
2115
2124
2133
2142
2151
2160
2205
2214
2223
2232
2241
2250
2304
2313
2322
2331
2340
2403
2412
2421
2430
2502
2511
2520
2601
2610
2700
3006
3015
3024
3033
3042
3051
3060
3105
3114
3123
3132
3141
3150
3204
3213
3222
3231
3240
3303
3312
3321
3330
3402
3411
3420
3501
3510
3600
4005
4014
4023
4032
4041
4050
4104
4113
4122
4131
4140
4203
4212
4221
4230
4302
4311
4320
4401
4410
4500
5004
5013
5022
5031
5040
5103
5112
5121
5130
5202
5211
5220
5301
5310
5400
6003
6012
6021
6030
6102
6111
6120
6201
6210
6300
7002
7011
7020
7101
7110
7200
8001
8010
8100
9000

###14.WAP to print the multiplication table of a number entered by the user.

In [ ]:
n=int(input('Enter the number whose multiplication table is to be printed : '))
for i in range(1,11):
  print('{0} * {1} = {2}'.format(n,i,n*i))

Enter the number whose multiplication table is to be printed : 11
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110

###15.WAP to compute factorial of a given number .

In [ ]:
f=1
n=int(input('Enter the number whose factorial is to be found : '))
while n>=1 :
  f*=n
  n-=1
print ('Factorial of the number is : '+str(f))

Enter the number whose factorial is to be found : 5
Factorial of the number is : 120